@import "_variables", "_styles";

.about {
	margin-top: 61px;
	flex-direction: column;
	padding: 32px 16px 0px 16px;
	@media (min-width: 992px) {
		padding-left: 10%;
		padding-right: 10%;
	}

	&-card {
		display: flex;
		flex-direction: column;
		@media (min-width: 992px) {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}

		&-image {
			border-radius: 8px;
			width: 100%;
			height: auto;
			@media (min-width: 992px) {
				max-width: 442px;
				margin-right: 140px;
			}
		}
		&-infos {
			@media (min-width: 992px) {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&-title {
				color: white;
				font-size: 34px;
				line-height: 40px;
				margin: 24px 0;
				letter-spacing: 0.25px;
				@media (min-width: 992px) {
					font-size: 60px;
					line-height: 71px;
				}
			}
			&-text {
				color: white;
				font-size: 16px;
				line-height: 28px;
				letter-spacing: 0.44px;
				margin-bottom: 10px;
				&-mail {
					margin: 0;
					align-self: flex-start;
					color: $primaryColor;

					//a foto ficou desalinhada pq não tinha uma maior
				}
			}
		}
	}
}

.cards {
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: 992px) {
		padding-left: 165px;
		padding-right: 165px;
	}
	&-title {
		font-size: 24px;
		line-height: 32px;
		color: white;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 32px;
		text-align: center;
		@media (min-width: 992px) {
			margin-top: 128px;
			font-size: 34px;
			line-height: 40px;
			margin-bottom: 60px;
		}
	}
	&-box {
		@media (min-width: 992px) {
			// display: flex;
			// flex-wrap: wrap;
			// margin: 0 auto;
			// tentei fazer com flex, mas depois vi que com grid é melhor
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			padding-bottom: 104px;
			//104 + 24 do margin bottom da dil item(só fiz a soma)
		}
		&-item {
			@media (min-width: 992px) {
				// flex: 1 1 200px;
				margin-right: 24px;
				width: auto;
				height: auto;
				padding: 0px 24px 24px 0px;
			}
			padding: 0 16px 16px 0;
			background-color: $colorRellenos;

			flex-direction: column;
			color: white;
			border-radius: 8px;
			margin-bottom: 24px;

			p {
				font-size: 14px;
				padding-left: 16px;
				margin: 0;
				letter-spacing: 0.25px;
				@media (min-width: 992px) {
					font-size: 16px;
					line-height: 28px;
					margin: 0;
					letter-spacing: 0.44px;
					padding-left: 24px;
				}
			}
			h2 {
				@media (min-width: 992px) {
					padding-left: 24px;
					font-size: 34px;
					line-height: 40px;
					margin: 0;
					margin-top: 16px;
				}
				padding-left: 16px;
				font-size: 20px;
				letter-spacing: 0.25px;
				margin-bottom: 10px;

				font-weight: 500;
				line-height: 24px;
			}
			&-logo {
				padding-left: 22px;
				padding-top: 24px;
			}
		}
	}
}
